# Dependencies
**/[Dd]ependencies/
**/[Pp]ackages/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# Secrets and local configuration files
appsettings.json
appsettings.*.json
!appsettings.Template.json